@import "../../../partials/blacklabel/index";

$color: LABEL_COLOR;

.ln_bl_LABEL_NAME {
  .ln_bl_hero__img {
    height: 5rem;
  }

  .ln_bl_benefits {
    background-color: $color;
  }

  .ln_bl_cta {
    background-color: $color;
  }

  .ln_bl_how-works {
    &__cpf {
      .ln_cpf__partner {
        height: 3rem;
      }
    }
  }

  .ln_bl_how-work {
    &__step,
    &__img_container:before {
      background-color: $color;
    }
  }

  .ln_lb_footer__powered {
    &_partner {
      img {
        height: 1.75rem;
      }
    }
  }

  @include desktop {
    .ln_bl_hero__img {
      height: 6rem;
    }

    .ln_lb_footer__powered {
      &_partner {
        img {
          height: 2rem;
        }
      }
    }
  }

  .mdc-button--secondary {
    &.mdc-button:not(:disabled) {
      color: $color;
    }

    &.mdc-button::before,
    &.mdc-button::after {
      background-color: $color;
    }

    &.mdc-button--raised:not(:disabled),
    &.mdc-button--unelevated:not(:disabled) {
      background-color: $color;
    }

    &.mdc-button--raised:not(:disabled),
    &.mdc-button--unelevated:not(:disabled) {
      color: #ffffff;
    }

    &.mdc-button--raised::before,
    &.mdc-button--raised::after,
    &.mdc-button--unelevated::before,
    &.mdc-button--unelevated::after {
      background-color: #ffffff;
    }

    &.mdc-button--outlined:not(:disabled) {
      border-color: $color;
    }
  }
}
