
{{> ln-blacklabel key="LABEL_NAME"
                  logo="./images/LABEL_NAME.png"
                  name="LABEL_FULL_NAME"
                  title="LABEL_FULL_NAME Negocia Dívidas 100% Online - Serasa Limpa Nome"
                  description="Negocie suas dívidas com LABEL_PRONOUN LABEL_FULL_NAME 100% online com rapidez e tranquilidade. Seu nome limpo sem burocracia em pouco tempo. Acesse já e negocie!"
                  color="LABEL_COLOR"
                  method="bankslip"
                  delayed="true"
                  benefits="negatived,security,aggrements"
}}
